
.jumbotron {
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}

#newburger {
  border-radius: 5px;
}

#lefthead {
  background-color: purple;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#eatbutton {
  float: right;
  background-color: plum;
}

#righthead {
  background-color:plum;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#add{
  background-color: plum;
}